.git
.github
.gitignore

terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars

kubernetes
scripts

README.md

.env
.env.*

*.log

.vscode
.idea

Dockerfile
docker-compose.yml